

<div class="rectangle">
  <img src="photo.png" alt="Avatar">
    <div class="container">
      <h1> <%= teacher.name %> </h1>

        <p> <%= booking.spot %> </p>
        <p> <%= booking.date %> </p>
        <p> <%= booking.level %> </p>
        <p> <%= teacher.flag %> </p>
        <p> <%= teacher.icon %> </p>

        <%= link_to "Instructor details", class="btn btn-success" %>
        <%= link_to "Instructor details", class="btn btn-primary" %>
        <p> <%= booking.price"€" %> </p>
  </div>
</div>
