<div class="form-wrapper show-modal">

    <h2> Finalize your booking </h2>
    <%# <h3> Little recap of your search </h3> %>

    <%= simple_form_for [ user, booking ] do |f| %>


    <%= f.input :end_date, as: :string, placeholder: "Do you want to confirm your booking date ?", label: false,
      required: false, input_html: { class: "datepickr", value: session[:end_date] } %>

    <%= f.input :start_time, as: :string, placeholder: "Debut hour", label: false,
                  required: false, input_html: {class: "timepickr"} %>

    <%= f.input :end_time, as: :string, placeholder: "End hour", label: false,
                  required: false, input_html: {class: "timepickr"} %>

    <%#= f.input :start_date, as: :string,
      required: false, input_html: {class: "datepickr"} %>

    <%= f.input :category, as: :select, collection: Category::CATEGORIES, prompt: "Discipline",
        selected: session[:category] %>

    <%= f.input :group_session, label: "Would you like to share your lesson and pay less ? ",id: "groupsession"%>

    <%= f.input :participants_number, label: "How many will you be? " ,collection: 1..4, selected: 1, wrapper_html: {class: "d-none"} %>

    <%= f.submit "Submit your booking", class: "btn btn-success" %>
    <% end %>
</div>