  <h1 class="resort-title" data-name= <%="#{params[:query]}" %>>   
    <%= params[:query] %>
  </h1>


<div class="container multi-drop-down">
    <div class="btn-group">
    <button class="btn btn-white btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Select Dates
    </button>
    <div class="dropdown-menu">
      ...
    </div>
  </div>
      <div class="btn-group">
    <button class="btn btn-white btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Ski, snow..?
    </button>
    <div class="dropdown-menu">
      ...
    </div>
  </div>
      <div class="btn-group">
    <button class="btn btn-secondarywhite btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Mindset
    </button>
    <div class="dropdown-menu">
      ...
    </div>
  </div>
      <div class="btn-group">
    <button class="btn btn-secondarywhite btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Level
    </button>
    <div class="dropdown-menu">
      ...
    </div>
  </div>
        <div class="btn-group">
    <button class="btn btn-secondarywhite btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Large button
    </button>
    <div class="dropdown-menu">
      ...
    </div>
  </div>
</div>

<div class="d-flex bd-highlight teacher-cards">
  <div class="p-2 flex-fill bd-highlight">Flex item</div>
  <div class="p-2 flex-fill bd-highlight">Flex item</div>
  <div class="p-2 flex-fill bd-highlight">Flex item</div>
  <div class="p-2 flex-fill bd-highlight">Flex item</div>
</div>


<div class="container price-info">
  <h1>Share your lesson and divide the price !</h1>
  <h2>Private booking 85 € / hour | Shared booking up to 21 € / hour </h2>
</div>


<div class="d-flex bd-highlight booking-cards">
  <div class="p-2 flex-fill bd-highlight">Flex item</div>
  <div class="p-2 flex-fill bd-highlight">Flex item</div>
  <div class="p-2 flex-fill bd-highlight">Flex item</div>
  <div class="p-2 flex-fill bd-highlight">Flex item</div>
</div>



<ol>
    <% @users.each do |user|%>
      <li><%= user.first_name %>/<%= user.last_name %> ---<%= user.categories %> --- <%= user.description %> ---<%= user.languages %> </li>
      <%= link_to "show", user_path(user) %>
    <% end %>
</ol>
