<h1 class="resort-title" data-name= <%= @query %>>
    <%= @query %>
</h1>

<%if @users.count==0 %>
  <h2 style="text-align: center"> We don't have any instructors available in  <%= "#{params.dig(:user, :ski_resort) }"%></h2>
<% end %>

<div class="container multi-drop-down" data-controller="filters">
    <%= simple_form_for :user, url: users_path, method: :get, defaults: {
      input_html: { data: { action: "change->filters#submit"}}
    }, remote: true do |f| %>

        <%= f.input :start_date, as: :string, placeholder: "Start Date", label: false,
        required: false, input_html: {class: "datepickr", value: params[:user][:start_date]} %>

        <%= f.input :end_date, as: :string, placeholder: "End Date", label: false,
        required: false, input_html: {class: "datepickr", value: params[:user][:end_date]} %>

        <%= f.input :category, as: :select, collection: Category::CATEGORIES, prompt: "Discipline", label: false,
        selected: params.dig(:user, :category), include_blank: true %>
        <%= f.input :technical_skill, as: :select, collection: User::TECHNICALSKILL, prompt: "Level", label: false,
        selected: params.dig(:user, :technical_skill), include_blank: true %>
        <%= f.input :languages, as: :select, collection: User::LANGUAGES, prompt: "Language", label: false,
        selected: params.dig(:user, :languages), include_blank: true %>
        <%= f.input :ski_resort, as: :hidden, input_html: {value: params.dig(:user, :ski_resort)} %>

        <%= f.submit class: "d-none", data: {target: "filters.submit"} %>
    <% end %>
</div>
<br>
  <h2 style="text-align:center"><%= "Fixed Price: 45euros/hour"  %></h2>


<div class="d-flex bd-highlight teacher-cards flex-wrap">
    <% @users.each do |user|%>
      <%= render "shared/teacher_card", teacher: user %>
  <% end %>
</div>

<div class="container price-info">
  <h1>Share your lesson and divide the price !</h1>
  <h2>Private booking 45 € / hour | Shared booking up to 21 € / hour </h2>

</div>

<div class="tab-content w-100" id="myTabContent">
  <div class="tab-pane fade show active w-100" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="d-flex flex-wrap justify-content-between mt-5 w-100">
      <% @bookings.each do |booking| %>
        <% if booking.group_session == true %>
          <div class="rectangle">
              <div class="first-box">
                <div class="photo-and-name">
                  

                  <div class="teacher name">
                    <h5> <%= booking.user.first_name %> <%= booking.user.last_name %> </h5>
                  </div>
                </div>
              </div>
                <div class="second-box">
                  <div class="infos">
                    <p>📅<%= booking.start_date %><%= booking.end_date %></p>
                    <p><%= booking.user.languages.to_sentence %></p>
                    <p> <%= booking.user.description %> </p>
                    <p> 🏔 <%= booking.user.ski_resort %> 🏔 </p>
                    <p> ❄️ <%= booking.user.categories.pluck(:name).to_sentence %> ❄️ </p>
                  </div>
                  <div class="price">
                    <h3>Spot available:  <%= booking.available_spots %></h3>
                    <div class="book-button">
                      <button type="button primary" class="btn btn-primary" data-toggle="modal" data-target="#indexModal">
                        + Join it
                      </button>
                      <div class="modal fade" id="indexModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-body">
                              <%= render 'user_bookings/new_user_booking', booking: booking %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <%= link_to "Join now", new_booking_user_booking_path(booking.id)%>
                  </div>
                </div>
            </div>
          </div>
        <% else %>
        <p>not a shared lesson</p>
        <% end %>
      <%end%>
    </div>
  </div>
</div>



