<% if "#{params.dig(:user, :ski_resort) }" == "" %>
    <h1 class="resort-title" data-name= <%="SKEASY" %>>
    <%= "SKEASY" %>
    </h1>
  <% else %>
    <h1 class="resort-title" data-name= <%="#{params.dig(:user, :ski_resort) }" %>>
      <%= (params.dig(:user, :ski_resort)).capitalize %>
    </h1>
  <% end %>
  <%if @users.count==0 %>
    <h2 style="text-align: center"> We don't have any instructors available in  <%= "#{params.dig(:user, :ski_resort) }"%></h2>
  <% end %>

<div class="container multi-drop-down" data-controller="filters">
    <%= simple_form_for :user, url: users_path, method: :get, defaults: {
      input_html: { data: { action: "change->filters#submit"}}
    }, remote: true do |f| %>

        <%= f.input :start_date, as: :string, placeholder: "Start Date", label: false,
        required: false, input_html: {class: "datepickr", value: params[:user][:start_date]} %>

        <%= f.input :end_date, as: :string, placeholder: "End Date", label: false,
        required: false, input_html: {class: "datepickr", value: params[:user][:end_date]} %>

        <%= f.input :category, as: :select, collection: Category::CATEGORIES, prompt: "Discipline", label: false,
        selected: params.dig(:user, :category), include_blank: true %>
        <%= f.input :technical_skill, as: :select, collection: User::TECHNICALSKILL, prompt: "Level", label: false,
        selected: params.dig(:user, :technical_skill), include_blank: true %>
        <%= f.input :languages, as: :select, collection: User::LANGUAGES, prompt: "Language", label: false,
        selected: params.dig(:user, :languages), include_blank: true %>
        <%= f.input :ski_resort, as: :hidden, input_html: {value: params.dig(:user, :ski_resort)} %>

        <%= f.submit class: "d-none", data: {target: "filters.submit"} %>
    <% end %>
</div>
<br>
  <h2 style="text-align:center"><%= "Fixed Price: 45euros/hour"  %></h2>


<div class="d-flex bd-highlight teacher-cards flex-wrap">
    <% @users.each do |user|%>
      <%= render "shared/teacher_card", teacher: user %>
  <% end %>
</div>
<div class="container price-info">
  <h1>Share your lesson and divide the price !</h1>
  <h2>Private booking 45 € / hour | Shared booking up to 21 € / hour </h2>
</div>
