<ol>
    <% @users.each do |user|%>
      <li><%= user.first_name %>/<%= user.last_name %> ---<%= user.categories %> --- <%= user.description %> ---<%= user.languages %> </li>
      <%= link_to "show", user_path(user) %>
    <% end %>
</ol>