<div class="container">

    <h1 class="resort-title" data-name=<%= @query %>>
        <%= @query %>
    </h1>

    <%if @users.count==0 %>
    <h2 style="text-align: center"> We don't have any instructors available in <%= "#{params.dig(:user, :ski_resort) }"%></h2>
    <% end %>

    <div class="container multi-drop-down" data-controller="filters">
        <%= simple_form_for :user, url: users_path, method: :get, defaults: {
      input_html: { data: { action: "change->filters#submit"}}
      }, remote: true do |f| %>

        <%= f.input :end_date, as: :string, placeholder: "Booking date", label: false,
        required: false, input_html: {class: "datepickr", value: params.dig(:user, :end_date)} %>
        <%= f.input :category, as: :select, collection: Category::CATEGORIES, prompt: "Discipline", label: false,
      selected: params.dig(:user, :category), include_blank: true %>
        <%= f.input :technical_skill, as: :select, collection: User::TECHNICALSKILL, prompt: "Level", label: false,
      selected: params.dig(:user, :technical_skill), include_blank: true %>
        <%= f.input :languages, as: :select, collection: User::LANGUAGES, prompt: "Language", label: false,
      selected: params.dig(:user, :languages), include_blank: true %>
        <%= f.input :ski_resort, as: :hidden, input_html: {value: params.dig(:user, :ski_resort)} %>

        <%= f.submit class: "d-none", data: {target: "filters.submit"} %>

        <% end %>
    </div>
    <br>

    <h2>Take a private lesson with the bests !</h2>
    <div class="price-amount price-individual">
        <p><span>45</span>€/h</p>
    </div>

    <div class="pay-less">
        <div id="Shared" class="button-shared-groups btn btn-success">
            <p class="m-0"> <strong>Want to pay less ? Join a group !</strong> </p>
        </div>
    </div>

    <div class="d-flex bd-highlight teacher-cards flex-wrap">
        <% @users.each do |user|%>
        <%= render "shared/teacher_card", teacher: user %>
        <% end %>
    </div>
</div>
<div class="mountain-index">
    <div class="container">
        <div class="mountain-intro">

            <h2>Join a lesson and divide the price !</h2>
            <div class="price-amount price-individual">
                <p><span>20</span>€/h</p>
            </div>

        </div>

        <div class="d-flex flex-wrap justify-content-between mt-5 w-100">
            <% @bookings.each do |booking| %>
            <% if booking.group_session == true %>
            <div class="rectangle">
                <div class="teacher-and-availabilities">
                    <div class="teacher-info">
                        <%= link_to user_path(booking.user) do %>
                        <h5> <%= booking.user.first_name %> <%= booking.user.last_name.first(1) %>. </h5>
                        <% end %>
                        <div class="card-img-booking">
                            <%= cl_image_tag booking.user.photo.key, width: 200, crop: :thumb, gravity: :face %>
                        </div>
                    </div>
                    <div class="available-spots">
                        <h3><%= booking.available_spots %> available spot(s) </h3>
                    </div>
                </div>
                <div class="booking-info">
                    <div class="infos">
                        <div class="modal fade" id="indexModal-<%= booking.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <%= render 'user_bookings/new_user_booking', booking: booking, user_booking: UserBooking.new %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p> <i class="far fa-calendar-alt category-image"></i><%= booking.end_date.strftime("%A %B %d") %> at xx pm ?? </p>
                        <p>
                            <% booking.user.categories.each do |categorie| %>
                            <%= image_tag(categorie.name + ".png", class:"category-image") %>
                            <% end %>
                            <%= booking.user.categories.pluck(:name).to_sentence %>
                        </p>
                        <p> <i class="fas fa-mountain category-image"> </i><%= booking.user.ski_resort %> </p>
                        <div class="language-and-price">
                            <div class="language">
                                <p> <i class="far fa-comments category-image"> </i><%= booking.user.languages.to_sentence %></p>
                            </div>
                            <div class="price"> <span id="amount"><%= 90/4 %> € </span> / spot x??</div>
                        </div>
                    </div>

                    <div class="book-button">
                        <button type="button primary" class="btn btn-success join" data-toggle="modal" data-target="#indexModal-<%= booking.id %>">
                            Join this class!
                        </button>
                    </div>

                    <p> <i class="far fa-calendar-alt category-image"></i><%= booking.end_date.strftime("%A %B %d") %> between <%=booking.start_time.hour%>am and <%=booking.end_time.hour %>pm </p>
                    <p>
                        <%= image_tag(booking.category + ".png", class:"category-image") %>
                        <%= booking.category %>
                    </p>
                    <p> <i class="fas fa-mountain category-image"> </i><%= booking.user.ski_resort %> </p>
                    <div class="language-and-price">
                        <div class="language">
                            <p> <i class="far fa-comments category-image"> </i><%= booking.user.languages.to_sentence %></p>
                        </div>
                        <div class="price"> <span id="amount"><%=(booking.price * ((booking.end_time.hour)-(booking.start_time.hour)))/4%> € / spot</span> </div>
                    </div>

                </div>
            </div>
            <%end%>
            <%end%>
        </div>

        <%= image_tag  "nuage1", class:"nuage nuage1" %>
        <%= image_tag  "nuage2", class:"nuage nuage2" %>
        <%= image_tag  "nuage3", class:"nuage nuage3" %>
    </div>
</div>