<h1 class="title-show" data-name=<%= @query_name %>>
    <%= @query_name %>
</h1>
<div>


    <div class="center-box">
        <div class="teacher-photo">
            <div class="photo-description">
            <% raise %>
                <% if @user.photos.attached? %>
                <%= cl_image_tag @user.photos.first.key, width: 1200, crop: :thumb, gravity: :face, class: "pix-profile-teacher" %>
                <% else %>
                <img src="https://picsum.photos/200" alt="Avatar" class="pix-profile-teacher">
                <% end %>
            </div>
            <div class="text-photo">
                <h4><i class="fas fa-mountain "></i> <%=@user.ski_resort %> </h4>
            </div>
        </div>
        <div class="right-box">
            <!-- <h1 id="name"> Hello ! I'm <%= @user.first_name %></h1> -->
            <!-- <div class="greeting-message"></div> -->
            <%
=begin%>
            <hr>

            <%= session[:technical_skill] %>
            <%= session[:category] %>
            <%= session[:ski_resort] %>
            <%= session[:languages] %>
            <%= session[:end_date] %>

            <hr>
            <%
=end%>

            <p id="greeting-message">
                <%= @user.description %>
            </p>
            <div class="specialities-languages">
                <div class="card-specialities">
                    <h3> <strong> Specialities </strong> </h3>
                    <div class="text-left">
                        <% @user.categories.each do |category| %>
                        <div class="d-flex align-items-center mb-2">
                            <div class="mr-2 specialtiesicon">
                                <%= image_tag(category.name + ".png", class:"category-image") %>
                                <p class="m-0 text-center text-lowercase"><%= category.name %></p>
                            </div>
                            <div id="technicalskills">
                                <% category.note.times do %>
                                <i class="fas fa-circle level"></i>
                                <% end %>
                                <% (5 - category.note).times do |i| %>
                                <i class="fas fa-circle"></i>
                                <% end %>
                            </div>
                        </div>
                        <% end %>
                    </div>
                </div>
                <div class="card-languages p-2">
                    <div>
                        <h3> <strong> Languages </strong> </h3>
                        <p><%= "#{@user.languages.to_sentence}" %></p>
                    </div>
                    <div class="price text-left">
                        <h3><strong>Price</strong></h3> <span class="amount">50 </span> €/h
                    </div>

                    <%
=begin%>
                    <h3 style="text-align: left;">Price : <strong><span>45</span></strong> €/h </h3>
                    <%
=end%>
                </div>
            </div>
            <button type="button" class="btn btn-success book-button" data-toggle="modal" data-target="#bookingModal">
                Book your lesson with me
            </button>
            <%= link_to users_path , id:"backtolist" do %>
            <i class='far fa-hand-point-left'></i> Back to teachers
            <% end %>
        </div>
        <div class="modal fade" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <%= render "bookings/new", user: @user, booking: @booking %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="below-box">
        <h3> Reviews <% @user.average_rating.times do |review |%> <i class="fas fa-star"></i> <% end %></h3>
        <div class="scrolling-wrapper-flexbox ml-n3">
            <% @user.reviews.each do |review| %>
            <div class="card-review p-3 m-3">
                <h4> <%= review.user.first_name %> </h4>
                <% review.rate.times do |i| %>
                <i class="fas fa-star"></i>
                <% end %>
                <% (5 - review.rate).times do |i| %>
                <i class="far fa-star"></i>
                <% end %>
                <p> "<%= review.content %>" </p>
            </div>
            <% end %>
        </div>
        <h3> Videos <i class="fab fa-youtube p-2"></i> </h3>
        <iframe width="1100" height="415" src="https://www.youtube.com/embed/n-UBie4Ioqo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>