
<h1 class="title-show" data-name= <%= @query_name %>>
  <%= @query_name %>
  </h1>

<div class="show">
<!--   <div class="left-box">
    <h2 id="other-instructors">Other instructors</h2>
    <div class="cards-instructors">
      <div class="card-instructor">
        <% user3 = User.all.sample%>
        <%= link_to user_path(user3) do %>
        <div class="info-image">
          <% if user3.photo.attached? %>
            <%= cl_image_tag user3.photo.key, width: 200, crop: :thumb, gravity: :face, class: "photo-profile-other-teacher" %>
          <% else %>
            <img src="https://picsum.photos/200" alt="Avatar" class="photo-profile-other-teacher">
          <% end %>
          <div class="text-card">
            <h5><%= user3.first_name%> <%= user3.last_name%></h5>
            <% user3.average_rating.times do %>
                ⭐️
            <% end %>
            <p>Teaching : <%= user3.technical_skill %> </p>
          </div>
        </div>
        <div class="flag-icon">

          <% user3.categories.each do |categorie| %>
        <%= image_tag(categorie.name + ".jpg") %>
      <% end %>

        </div>
        <% end %>
      </div>

      <div class="card-instructor">
        <% user3 = User.all.sample%>
        <%= link_to user_path(user3) do %>
        <div class="info-image">
          <% if user3.photo.attached? %>
            <%= cl_image_tag user3.photo.key, width: 200, crop: :thumb, gravity: :face, class: "photo-profile-other-teacher" %>
          <% else %>
            <img src="https://picsum.photos/200" alt="Avatar" class="photo-profile-other-teacher">
          <% end %>
          <div class="text-card">
            <h5><%= user3.first_name%> <%= user3.last_name%></h5>
            <% user3.average_rating.times do %>
                ⭐️
            <% end %>
            <p>Teaching : <%= user3.technical_skill %> </p>
          </div>
        </div>
        <div class="flag-icon">

          <% user3.categories.each do |categorie| %>
        <%= image_tag(categorie.name + ".jpg") %>
      <% end %>

        </div>
        <% end %>
      </div>
      <div class="card-instructor">
        <% user3 = User.all.sample%>
        <%= link_to user_path(user3) do %>
        <div class="info-image">
          <% if user3.photo.attached? %>
            <%= cl_image_tag user3.photo.key, width: 200, crop: :thumb, gravity: :face, class: "photo-profile-other-teacher" %>
          <% else %>
            <img src="https://picsum.photos/200" alt="Avatar" class="photo-profile-other-teacher">
          <% end %>
          <div class="text-card">
            <h5><%= user3.first_name%> <%= user3.last_name%></h5>
            <% user3.average_rating.times do %>
                ⭐️
            <% end %>
            <p>Teaching : <%= user3.technical_skill %> </p>
          </div>
        </div>
        <div class="flag-icon">

          <% user3.categories.each do |categorie| %>
        <%= image_tag(categorie.name + ".jpg") %>
      <% end %>

        </div>
        <% end %>
      </div>
    </div>
  </div> -->

  <div class="center-box">
    <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, width: 200, crop: :thumb, gravity: :face, class: "pix-profile-teacher" %>
    <% else %>
        <img src="https://picsum.photos/200" alt="Avatar" class="pix-profile-teacher">
    <% end %>
    <div class="text-photo">
      <h5> 🗻 </h5>
      <h5>  I'm teaching in <%=@user.ski_resort %> </h5>
    </div>


    <div class="stars">
    </div>

  </div>

  <div class="right-box">
    <!-- <h1 id="name"> Hello ! I'm <%= @user.first_name %></h1> -->

    <p id="greeting-message"> Hey everyone, my name is <%= @user.first_name %>.
        <%= @user.description %>
    </p>
    <p id="greeting-message"> Hey everyone, my name is <%= @user.first_name %>.
        <%= @user.description %>
    </p>


    <div class="specialities-languages">
      <div class="card-specialities">
        <h5>Specialitites</h5>
          <div class="text-left">
           <% @user.categories.each do |category| %>
             <p> <%= category.name %> :
          <% category.note.times do %>
          <i class='fas fa-star'></i>
         <% end %>
            </p>
          <% end %>
        </div>
      </div>

      <div class="card-languages p-2">
        <h5>Languages</h5>
        <div class="text-left">
        <% @user.languages.each do |language|%>
          <%= "#{language}" %>
        <% end %>
        </div>
      </div>
    </div>

     <div class="book-button">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bookingModal">
            + Book your lesson
          </button>
      </div>

     <div class="modal fade" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <%= render "bookings/new", user: @user, booking: @booking %>
            </div>
          </div>
        </div>
      </div>


      <!-- <h3> Videos <i class="fab fa-youtube p-2"></i> </h3>
      <iframe width="460" height="215" src="https://www.youtube.com/embed/n-UBie4Ioqo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->



      <!--  <div class="card-review">
        <div class="text-card">
          <p> <% @user.average_rating.times do %>
              ⭐️
          <% end %> </p>
          <h4> Past reviews :</h4>
        </div>
          <% @reviews.each do |review| %>
          <ul>
            <li><%= review.content %>-- <%= review.rate %>/5</li>
          </ul>
        <% end %>
      </div> -->

  </div>
</div>



