<div class="show">

  <div class="left-box">

    <h2>Other instructors</h2>

    <div class="cards-instructors">

      <div class="card-instructor">
        <div class="info-image">
          <img src="https://picsum.photos/200" alt="Avatar"
              class="photo-profile-other-teacher">
            <div class="text-card">
              <h5> Lomig </h5>
              <i class="far fa-star"></i> <i class="far fa-star"></i>
              <p> Super prof </p>
            </div>
        </div>

        <div class="flag-icon">
          <i class="far fa-flag"></i>
          <i class="fas fa-skiing"></i>
        </div>

      </div>

      <div class="card-instructor">
        <div class="info-image">
          <img src="https://picsum.photos/200" alt="Avatar"
              class="photo-profile-other-teacher">
            <div class="text-card">
            <h5> Julien </h5>
              <i class="far fa-star"></i> <i class="far fa-star"></i>
              <i class="far fa-star"></i> <i class="far fa-star"></i>
              <p> Incroyable prof </p>
            </div>
        </div>

        <div class="flag-icon">
          <i class="far fa-flag"></i>
          <i class="fas fa-skiing"></i>
        </div>

      </div>

       <div class="card-instructor">
        <div class="info-image">
          <img src="https://picsum.photos/200" alt="Avatar"
              class="photo-profile-other-teacher">
            <div class="text-card">
              <h5> Cécile </h5>
              <i class="far fa-star"></i> <i class="far fa-star"></i>
              <i class="far fa-star"></i> <i class="far fa-star"></i>
              <p> Excellente prof </p>
            </div>
        </div>

        <div class="flag-icon">
          <i class="far fa-flag"></i>
          <i class="fas fa-skiing"></i>
        </div>
      </div>

    </div>
  </div>


  <div class="center-box">

    <img src="https://picsum.photos/200" alt="Avatar" class="photo-profile-teacher">

    <div class="stars">
      <i class="fas fa-star"></i> <i class="fas fa-star"></i>
      <i class="fas fa-star"></i> <i class="far fa-star"></i>
    </div>

    <div class="card-specialities p-2">

      <h5>SPECIALITIES</h5>
      <div class="text-left">
        <p>Ski :
        <i class="fas fa-star"></i> <i class="fas fa-star"></i>
        <i class="fas fa-star"></i> <i class="fas fa-star"></i>
        </p>

        <p>Snowboard :
        <i class="fas fa-star"></i> <i class="fas fa-star"></i>
        <i class="fas fa-star-half"></i>
        </p>

        <p>Telemark :
        <i class="fas fa-star"></i> <i class="fas fa-star"></i>
        <i class="fas fa-star"></i> <i class="fas fa-star-half"></i>
        </p>
      </div>
    </div>

    <div class="card-languages p-2">
      <h5>LANGUAGES</h5>
        <div class="text-left">
          <p>French : <em> Native language </em> </p>

          <p>English : <em> Good level </em> </p>
        </div>
    </div>

  </div>

  <div class="right-box">
    <h1> Hey ! I'm <%= @user.first_name %><%= @user.last_name %></h1>

      <h4> Val Thorens, joined in December 2019 </h4>

        <p> Hey everyone, my name is <%= @user.first_name %>. I was born and raised in
            Savoie and i’ve been skiing basically all my life.
            I’m comfortable with all kinds of practice (ski, snowboard, biathlon...),
            i’ve been a profesionnal ski racer for more than fifteen-years,
            then i decided to become a ski teacher in Val Thorens which is the ski
            resort where i’ve been living and practicing ski since a long time ago.
            I would be please to become your ski teacher for your holidays ! </p>

        <%= @user.description %>

      <h3> Videos <i class="fab fa-youtube"></i> </h3>
        <iframe width="460" height="215" src="https://www.youtube.com/embed/fNRPiXes7OQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <%= link_to "Book your lesson", new_user_booking_path(@user), class:"btn btn-primary" %>
  </div>
</div>



<H1> <%= @user.average_rating %> </H1>


<p>

          <% @reviews.each do |review| %>
          <%= review.rate %> <%= review.content %>
          <% end %>
</p>


<H1> <%= @user.id %> </H1>


