<div class="rectangle rectangle-cards">
  <div class="teacher-and-availabilities-dashboard">
    <div class="card-img-booking-dashboard">
      <%= cl_image_tag booking.user.photo.key, width: 200, crop: :thumb, gravity: :face %>
    </div>
    <div class="teacher-info">
      <h5> <%= booking.user.first_name %> <%= booking.user.last_name.first(1) %>. </h5>
        <% if booking.status == "Accepted" %>
          <p class="phone-number"><%= booking.user.phone_number  %></p>
        <% end %>
    </div>
    <div class="spots-and-status">
      <div class="available-spots">
        <% if booking.group_session %>
          <% if booking.available_spots == 0 %>
            <h3> Group completed </h3>
          <% else %>
            <h3><%= booking.available_spots %> available spot(s) </h3>
          <% end %>
        <% else %>
          <h3> Private Lesson </h3>
        <% end %>
      </div>
      <div class="status-btn-<%= booking.status.downcase %> status-tag" style="text-align: center;">
        <%= booking.status %>
      </div>
    </div>
  </div>

  <div class="booking-info">
    <div class="infos" data-session="<%= booking.checkout_session_id%>">
      <p><i class="far fa-calendar-alt category-image"></i><%= booking.end_date.strftime("%B %d")%> | <%= booking.start_time.hour %>-<%= booking.end_time.hour %>h</p>
      <p>
        <%= image_tag(booking.category + ".png", class:"category-image")%><%= booking.category %>
      </p>
      <p><i class="fas fa-mountain category-image"></i><%= booking.user.ski_resort %> </p>
      <div class="language-and-price">
        <p><i class="far fa-comments category-image"></i><%= booking.user.languages.to_sentence %></p>
        <div class="price">
          <% if booking.group_session == true %>
            <div class="price-dashboard">
              <%= booking.individual_price %>€/person
            </div>
            <% if booking.status == "Accepted" %>
            <p class="phone-number"><%= booking.user.phone_number  %></p>
            <% end %>
          <% else %>
            <div class="price-dashboard">
              <%= booking.amount %> €
            </div>
            <div class="status-btn-<%= booking.status.downcase %> status-tag" style="text-align: center;">
                <%= booking.status %>
            </div>
        </div>
    </div>



    <div class="booking-info">
        <div class="infos">
            <p><i class="far fa-calendar-alt category-image"></i><%= booking.end_date.strftime("%A %B %d") %></p>
            <p>
                <%= image_tag(booking.category + ".png", class:"category-image")%><%= booking.category %>
            </p>
            <p><i class="fas fa-mountain category-image"></i><%= booking.user.ski_resort %> </p>
            <div class="language-and-price">
                <p><i class="far fa-comments category-image"></i><%= booking.user.languages.to_sentence %></p>
                <div class="price">
                    <% if booking.group_session == true %>
                    <div class="cardprice">
                        <%= booking.individual_price %>€/person
                    </div>
                    <% if booking.status == "Accepted" %>
                    <div class='payment-btns' data-booking="<%= booking.to_json %>">
                        <%= form_tag booking_accepted_path(booking) do %>
                        <%= hidden_field_tag 'booking_id', booking.id %>
                        <%= submit_tag 'Purchase', class: 'btn btn-success' %>
                        <% end %>
                    </div>
                    <% elsif booking.status == "Paid"%>
                    <% end %>
                    <% else %>
                    <div class="cardprice">
                        <%=  booking.amount * ((booking.end_time.hour)-(booking.start_time.hour)) %>€
                    </div>
                    <% if booking.status == "Accepted" %>
                    <div class='payment-btns' data-booking="<%= booking.to_json %>">
                        <%= form_tag booking_accepted_path(booking) do %>
                        <%= hidden_field_tag 'booking_id', booking.id %>
                        <%= submit_tag 'Purchase', class: 'btn btn-success' %>
                        <% end %>
                    </div>
                    <% elsif booking.status == "Paid"%>
                    <% end %>
                    <% end %>
                </div>
                <% if booking.status == "Accepted" %>
                <%#= link_to "Go to payment", booking_path(booking), class: "btn btn-success join book-button w-100" %>
                <% end %>
            </div>
        </div>
    </div>
</div>











