<div class="rectangle">
  <div class="teacher-and-availabilities">
      <div class="teacher-info">
        <h5> <%= booking.user.first_name %> <%= booking.user.last_name.first(1) %>. </h5>
          <div class="card-img-booking">
            <%= cl_image_tag booking.user.photo.key, width: 200, crop: :thumb, gravity: :face %>
          </div>
      </div>
      <div class="available-spots">
        <% if booking.group_session %>
          <% if booking.available_spots == 0 %>
            <h3> Group completed </h3>
          <% else %>
            <h3><%= booking.available_spots %> available spot(s) </h3>
          <% end %>
        <% else %>
          <h3> Private Lesson </h3>
        <% end %>
      </div>
  </div>
<div class="booking-info">
  <div class="infos">
      <div class="modal fade" id="indexModal-<%= booking.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
               <%= render 'user_bookings/new_user_booking', booking: booking, user_booking: UserBooking.new %>
            </div>
          </div>
        </div>
      </div>
    <p>🗓 <%= booking.start_date.strftime("%A %B %d") %> to <%= booking.end_date.strftime("%A %B %d") %></p>
    <p>
      <%= booking.category %>
      <%= image_tag(booking.category + ".png", class:"category-image") %>
    </p>
    <p><i class="fas fa-mountain mr-2"></i><%= booking.user.ski_resort %> </p>
    <p><i class="far fa-comments category-image"></i><%= booking.user.languages.to_sentence %></p>
  </div>
    <div class="price">
      <% if booking.group_session == true %>
        <div class="cardprice">
        💸<%= booking.individual_price %>€/person
        </div>
          <% if booking.status == "Accepted" %>
          <%= link_to "Go to payment", booking_path(booking), class: "btn btn-success btn-payment" %> 
          <% end %>
      <div class="status">
        <%= booking.status %>
      </div>
      <% else %>
      <div class="cardprice">
        💸<%= booking.price %>€
      </div>
          <% if booking.status == "Accepted" %>
          <%= link_to "Go to payment", booking_path(booking), class: "btn btn-success btn-payment" %> 
          <% end %>      
      <div class="status">
          <%= booking.status %>
      </div>
      <% end %>
    </div>
  </div>
</div>

