<% booking.user_bookings.each do |user_booking|%>
  <div class="rectangle rectangle-cards">
    <div class="teacher-and-availabilities-dashboard">
      <div class="pic-name-phone">
        <div class="card-img-booking-dashboard">
          <%= cl_image_tag user_booking.user.photo.key, width: 200, crop: :thumb, gravity: :face %>
        </div>     
        <div class="teacher-info">
          <h5> <%= user_booking.user.first_name%> <%= user_booking.user.last_name.first(1)%>. </h5>
          <% if booking.status == "Accepted" %>
            <p class="phone-number"><%= user_booking.user.phone_number%></p>
          <% end %>
        </div>
      </div>
      <div class="spots-and-status">
        <div class="available-spots">
          <% if booking.group_session %>
            <% if booking.available_spots == 0 %>
              <h3> Group completed </h3>
            <% else %>
              <h3><%= user_booking.participants_number%> Persons joined</h3>
            <% end %>
          <% else %>
            <h3> Private Lesson </h3>
          <% end %>
        </div>
        <div class="status-btn-<%= booking.status.downcase %> status-tag" style="text-align: center;">
          <%= booking.status %>
        </div>
      </div>
    </div>
    <div class="booking-info">
      <div class="infos" data-session="<%= booking.checkout_session_id%>">
        <div class="details">
          <p><i class="far fa-calendar-alt category-image"></i><%= booking.end_date.strftime("%B %d")%> | <%= booking.start_time.hour %>-<%= booking.end_time.hour %>h</p>
          <p><%= image_tag(booking.category + ".png", class:"category-image")%><%= booking.category %> | <%= user_booking.user.technical_skill%> </p>
          <p><i class="fas fa-mountain category-image"></i><%= user_booking.user.ski_resort %> </p>
          <p><i class="far fa-comments category-image"></i><%= user_booking.user.languages.to_sentence %></p>
          <div class="price text-right">
            <% if booking.group_session == true %>
              <div >
                <span class="amount"><%= booking.individual_price %></span>€/person
              </div>
            <% else %>
              <div >
                <span class="amount"><%=  booking.amount %></span>€
              </div>
            <% end %>
          </div>
            <% if  user_booking.booking.status == "Paid"%>
            <% else %>
              <% if user_booking.booking.end_date > Time.now %>
                <%= link_to "Accept", update_status_booking_path(user_booking.booking,params:{status: "Accepted"}), method: :patch, class: 'btn btn-success btn-block my-3'%>
                <%= link_to "Decline", update_status_booking_path(user_booking.booking,params:{status: "Rejected"}), method: :patch, class: 'btn btn-success btn-block my-3'%>
              <% else %>
              <% end %>
            <% end %>
        </div>
          <%= link_to users_path , id:"backtolist" do %>
            <i class='far fa-hand-point-left '></i> Back to teachers
          <% end %>
      </div>
    </div>
  </div>
<% end %>
