<%= link_to user_path(teacher) do %>
<div class="card-teacher">
    <div class="card-img">
        <% if teacher.photo.attached? %>
        <%= cl_image_tag teacher.photo.first.key, width: 200, crop: :thumb, gravity: :face %>
        <% end %>
    </div>
    <div class="card-info">


        <h2 id="first-name"><%= teacher.first_name %></h2>
        <h2 id="last-name"><%= teacher.last_name %></h2>
        <p id="stars">
            <% teacher.average_rating.times do %>
            <i class="fas fa-star"></i>
            <% end %>
        </p>
        <% teacher.categories.each do |categorie| %>
        <%= image_tag(categorie.name + ".png", class:"category-image") %>
        <% end %>

        <!-- <img src="<%=teacher.categories.pluck(:name).to_sentence%>.jpg" alt=""> -->
        <p id="category"> <%= teacher.categories.pluck(:name).to_sentence %> </p>
        <p id="description"><i class="fas fa-quote-left mr-2"></i><%= teacher.description.truncate(90)%><i class="fas fa-quote-right ml-2"></i></p>
        <p id="ressort"> <i class="fas fa-mountain mr-2"> </i><%= teacher.ski_resort %> </p>
        <p id="languages"> <i class="far fa-comments mr-2"> </i><%= "#{teacher.languages.to_sentence}" %> </p>
    </div>
</div>
<% end %>